.preview-panel {
  background: url('../../static/factorio-display-panel.png');
  background-size: 200%;
  background-position: center;
  height: 0;
  /* This is a hack to make the height of the panel dynamic with the width*/
  padding-bottom: calc(100% - 2px) !important;
}

.preview-panel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-bar-container {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 3px 8px 3px 4px;
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  top: 190px;
}

.preview-bar-item {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 4px;
}

.preview-bar-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-bar-text {
  font-family: Noto Sans CJK;
  font-size: 14px;
  line-height: 1;
  white-space: pre;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: -.5px;
}

.preview-bar-percent {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  min-width: 32px;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.preview-display-item {
  position: absolute;
  bottom: 245px;
  width: 22px;
  height: 22px;
}

.preview-display-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}