.inventory {
  width: 500px;
  max-width: 100%;

  --inventory-slot-size: 42px;
  --inventory-slot-margin: 1px;
  --inventory-tab-size: 78px;
  --inventory-tab-placeholder-size: 76px;
  --inventory-quality-size: 32px;
  --inventory-quality-padding: 5px;

  .square-l {
    width: var(--inventory-tab-size);
    height: var(--inventory-tab-size);
    min-width: var(--inventory-tab-size);
  }

  .slot {
    width: var(--inventory-slot-size);
    height: var(--inventory-slot-size);
    margin: var(--inventory-slot-margin);
    flex: unset;

    .slot-button {
      padding: 2px;
    }
  }
}

@media (max-width: 520px) {
  .inventory {
    --inventory-slot-size: 38px;
    --inventory-tab-size: 66px;
    --inventory-tab-placeholder-size: 64px;
  }
}

@media (max-width: 420px) {
  .inventory {
    --inventory-slot-size: 34px;
    --inventory-tab-size: 58px;
    --inventory-tab-placeholder-size: 56px;
    --inventory-quality-size: 28px;
    --inventory-quality-padding: 4px;
  }
}

@media (max-width: 360px) {
  .inventory {
    --inventory-slot-size: 30px;
    --inventory-tab-size: 52px;
    --inventory-tab-placeholder-size: 50px;
  }
}

.inventory-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 2px black);
}

.no-items-found {
  padding: 16px;
  color: #888;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}