.inventory {
  width: 500px;
  max-width: 100%;

  .slot {
    width: 42px;
    height: 42px;
    flex: unset;

    .slot-button {
      padding: 2px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0px 0px 2px black);
      }
    }
  }
}